# Revising Excel file: more data annotations

In [3]:
import os
import os.path as osp
from multiprocessing import Pool
import sys
current_dir = os.getcwd()
if not current_dir in sys.path:
    sys.path.append(current_dir)
from typing import List, Tuple
from functools import partial
from tqdm import tqdm
import configparser
import shutil
from os.path import exists
from collections import Counter
# import matplotlib.pyplot as plt
import pandas as pd

In [4]:
current_dir

'/home/eugeni/Downloads/Deakin_Consumptions'

In [7]:
df = pd.read_excel('Completed Categories Final Analysis-SIB.xlsx')
df.head()

,Participant,Images,Appropriate Label,Corresponding Images (Primary),Other category (Secondary),Other category (Tertiary),Annotation By,Notes,Unnamed: 8
0,83-101,20000101_123222_000.jpg,0.0,No relevant Images,APP,NaN,TK,Appointment with health providers,NaN
1,NaN,20000101_161544_000.jpg,0.0,No relevant Images,NaN,NaN,TK,Hallway,NaN
2,NaN,20000101_183113_000.jpg,0.0,No relevant Images,Sedentary,NaN,TK,lights on ceiling,NaN
3,NaN,20000101_183249_000.jpg,0.0,No relevant Images,Sedentary,NaN,TK,lights on ceiling,NaN
4,NaN,20000101_183457_000.jpg,0.0,No relevant Images,Sedentary,NaN,TK,lights on ceiling,NaN

In [14]:
df_filtered = df[['Participant', 'Images', 'Appropriate Label', 'Corresponding Images (Primary)']] # Filter interested columns
df_filtered = df_filtered.loc[df['Appropriate Label'] == 1] # Filter only 1's on Appropriate Label column
df_filtered.head()

,Participant,Images,Appropriate Label,Corresponding Images (Primary)
41,NaN,20160529_192935_000.jpg,1.0,Pill Bottle
42,NaN,20160529_193005_000.jpg,1.0,Pill Bottle
43,NaN,20160704_022940_000.jpg,1.0,Medication cup
44,NaN,20160706_071143_000.jpg,1.0,Medication box
45,NaN,20160706_072503_000.jpg,1.0,Medication box